<div class="container bg-light">
     <h3 class="display-5">About Me</h3><br>
    
    <div class="row">
        <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet nunc odio. Fusce lobortis mi sed ipsum sollicitudin posuere. Curabitur enim eros, hendrerit non orci ac, elementum iaculis massa. Etiam vestibulum velit in ligula viverra, ac suscipit turpis lobortis. Aliquam congue, mi quis volutpat porttitor, ante odio elementum dolor, ac volutpat ex mi nec risus. Nunc dapibus finibus est ut vulputate. Morbi eleifend metus id feugiat sollicitudin. Sed tempor porttitor ligula lobortis vestibulum. In nisi sapien, vulputate quis erat a, pretium congue neque. Vestibulum varius, mauris quis accumsan rhoncus, arcu enim sollicitudin sem, nec feugiat metus tellus eu justo. In ornare nisi fringilla ipsum congue sollicitudin. Maecenas placerat eros sit amet nulla tincidunt varius. Phasellus egestas mauris nulla, et luctus mauris mattis vitae. Praesent a blandit eros, finibus maximus nulla. Nullam condimentum diam et varius dapibus. Nunc et bibendum lorem.<br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet nunc odio. Fusce lobortis mi sed ipsum sollicitudin posuere. Curabitur enim eros, hendrerit non orci ac, elementum iaculis massa. Etiam vestibulum velit in ligula viverra, ac suscipit turpis lobortis. Aliquam congue, mi quis volutpat porttitor, ante odio elementum dolor, ac volutpat ex mi nec risus. Nunc dapibus finibus est ut vulputate. Morbi eleifend metus id feugiat sollicitudin. Sed tempor porttitor ligula lobortis vestibulum. In nisi sapien, vulputate quis erat a, pretium congue neque. Vestibulum varius, mauris quis accumsan rhoncus, arcu enim sollicitudin sem, nec feugiat metus tellus eu justo. In ornare nisi fringilla ipsum congue sollicitudin. Maecenas placerat eros sit amet nulla tincidunt varius. Phasellus egestas mauris nulla, et luctus mauris mattis vitae. Praesent a blandit eros, finibus maximus nulla. Nullam condimentum diam et varius dapibus. Nunc et bibendum lorem.
</p><hr>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
       <a href="https://www.youtube.com"><button type="button" class="btn btn-primary m-1">Youtube</button></a>
       <a href="https://www.twitter.com"><button type="button" class="btn btn-primary m-1">Twitter</button></a>
       <a href="https://www.instagram.com"><button type="button" class="btn btn-primary m-1">Instagram</button></a>
</div>
</div>